<div class="widget">
  <h2 class="title">ステータス</h2>
  <div class="content">
    <div class="flex-container">
      <div class="flex-box">
        <div id="canvas_player"><%= render 'canvas/player' %></div>
        <div id="canvas_cash"><%= render 'canvas/cash' %></div>
        <div id="canvas_chip"><%= render 'canvas/chip' %></div>
      </div>

      <div class="flex-box">
        <div id="canvas_zairyou"><%= render 'canvas/zairyou' %></div>
        <div id="canvas_shikakarihin"><%= render 'canvas/shikakarihin' %></div>
        <div id="canvas_seihin"><%= render 'canvas/seihin' %></div>
      </div>

      <div class="flex-box">
        <div id="canvas_seisan"><%= render 'canvas/seisan' %></div>
        <div id="canvas_hanbai"><%= render 'canvas/hanbai' %></div>
        <div id="canvas_kakaku"><%= render 'canvas/kakaku' %></div>
      </div>
  </div>

  </div>
</div>
