<div id="canvas_status" class="widget">
  <h2 class="title">ステータス</h2>
  <div class="content">
    <div class="table-container">

      <div class="row-box">
        <div id="canvas_player" class="cell-box"><%= render 'canvas/player' %></div>
        <div id="canvas_cash" class="cell-box"><%= render 'canvas/cash' %></div>
        <div id="canvas_chip" class="cell-box"><%= render 'canvas/chip' %></div>
      </div>

      <div class="row-box">
        <div id="canvas_zairyou" class="cell-box"><%= render 'canvas/zairyou' %></div>
        <div id="canvas_shikakarihin" class="cell-box"><%= render 'canvas/shikakarihin' %></div>
        <div id="canvas_seihin" class="cell-box"><%= render 'canvas/seihin' %></div>
      </div>

      <div class="row-box">
        <div id="canvas_seisan" class="cell-box"><%= render 'canvas/seisan' %></div>
        <div id="canvas_hanbai" class="cell-box"><%= render 'canvas/hanbai' %></div>
        <div id="canvas_kakaku" class="cell-box"><%= render 'canvas/kakaku' %></div>
      </div>

    </div>
  </div>
</div>
